<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Stage</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Iansui&family=Rock+Salt&display=swap" rel="stylesheet">
</head>

<body>
    <div class="background"></div>
    <div class="container">
        <div class="title">
            <h1>AI Stage</h1>
        </div>
        <div class="intro-box">
            <div class="introduction">
                <p>Custom GPT's for you. Choose from our pre-programmed GPT's or make your own custom GPT!</p>
            </div>
        </div>
        <div class="redirect">
            <a [routerLink]="'/download'" class="button get-started">Get Started</a>
            <a [routerLink]="'/about'" class="button learn-more">Learn More</a>
        </div>        
    </div>
</body>

</html>